doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js')
    link(rel='stylesheet', href='/css/main.css')
  body(ng-app='guestbook')
    block content
